@page "{handler?}"
@model MichelePesanteTest.Pages.Tracker
@{
    ViewData["Title"] = "APIs";
}

<form method="get">
    <button type="submit" asp-page-handler="documents">Submit</button>
    <div class="form-group row">
        <div class="col">
            <br>
            <label>Response</label>
            <textarea class="form-control" readonly rows="18">@Model.Documents</textarea>
        </div>
    </div>
</form>